*{
    padding: 0;
    margin:0;
}
#container{
    max-width: 400px;
    margin: auto;
    margin-top: 20%;
}
label{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#email,#password,#submit_btn{
    border: none;
    width: 400px;
    border-bottom: 2px solid grey;
    margin: 5px;
    padding: 4px;
    background-color: white;
}
#submit_btn{
    border:none;
    font-size: 25px;
    background-color: rgb(188, 243, 106);   
    border-radius: 3px;
    color: white;
}
#submit_btn:hover{
    background-color: rgb(160, 221, 68);
}
#email:focus,#password:focus{
    border-bottom:2px solid greenyellow;
}